<?php
#  API Setup
# Make unique and secure tokens. Must be at least 8 characters in length with no spaces.
# You may create multiple tokens with different permissions
# Permissions: admin, config, create, delete, list, search
# 'admin' permission has full access to all commands. Only give these tokens to people you trust that will help you manage the API and website
# Do not delete the 'default' token. This is used for when your API is accessed with no other request.
# The default token should only be used for 'search' and 'list' (maybe 'create' if you want creation public)
# When config is complete, give an admin token to your Discord Bot with: [p]thoughtset setup api yourAdminToken

# Tokens
$set['token']['changeThisAdminToken'] = ['admin'];
$set['token']['changeThisCustomToken'] = ['search', 'list', 'create', 'delete'];
$set['token']['default'] = ['search', 'list'];

# Admins and Mods
$set['admin'] = ['1111111111']; // Discord IDs of those that can do anything
$set['mod'] = ['2222222222', '3333333333']; # Discord IDs of those that can mod posts

# API Settings
$set['api']['url'] = 'auto'; # Change if auto detection fails
$set['api']['tags'] = ['thought', 'music', 'spam']; # Tags that thoughts can be categorized into
$set['api']['searchLimit'] = 500; # Search results max limit. Cannot be changed by API request
$set['api']['searchResults'] = 3; # Default amount of results per search
$set['api']['createFlood'] = '10s'; # Time between when a user can post again (format: 5s, 3m, 5d, 7w, etc)
$set['api']['shuffle'] = 1; # Shuffle search results
$set['api']['showID'] = 0; # Show thought ID before each result
$set['api']['quotes'] = 'none'; # Quotes around each thought. options: 'none', 'single', 'double', or custom
$set['api']['breaks'] = 0; # Use <br /> instead of \n\r in API calls
$set['api']['platform'] = 'api'; # Can be set to anything where the request came from (example: discord)

# Website Settings
$set['web']['shuffle'] = 1; # Shuffle search results
$set['web']['showID'] = 0; # Show thought ID before each result
$set['web']['quotes'] = 'none'; # Quotes around each thought. options: 'none', 'single', 'double', or custom
$set['web']['backgroundColor'] = '#212121'; # Background color
$set['web']['fontColor'] = '#e9e5e5'; # Font color
$set['web']['accentColor'] = '#393939'; # Box accent color
$set['web']['accentRadius'] = '10px'; # Border radius of boxes
$set['web']['info'] = 1; # Enable API info box
$set['web']['infoVisible'] = 1; # Show API info box by default
$set['web']['create'] = 1; # Enable thought creation box
$set['web']['createVisible'] = 1; # Show create box by default
$set['web']['createFlood'] = '10s'; # Time between when a user can post again (format: 5s, 3m, 5d, 7w, etc)
$set['web']['search'] = 1; # Enable search
$set['web']['searchLimit'] = 500; # Search results max limit
$set['web']['searchResults'] = 500; # Default amount of results per search
$set['web']['searchVisible'] = 1; # Show search box by default
$set['web']['github'] = 1; # Show GitHub link in footer
$set['web']['js'] = 1; # Use JavaScript for search and other features
# jQuery.js location. Change from "local" to direct URL or built in CDN options
$set['web']['jquery'] = 'local'; # options: local, google, jquery, microsoft, cdnjs, jsdelivr, Custom URL
